:root {
  --branding-color: rgb(198, 127, 168);
  --background-color: rgb(246, 240, 244);
  --secondary-color: rgb(86, 85, 85);
  --font-family: "Lora", serif;
}

h1 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 60px;
}
h2 {
  font-family: var(--font-family);
  font-size: 48px;
}
h3 {
  font-size: 42px;
}
p {
  font-family: var(--font-family);

  font-weight: normal;
  line-height: 30px;
}
ul {
  list-style: none;
  font-size: 16px;
  font-family: var(--font-family);

  line-height: 30px;
}
.power {
  background: var(--background-color);
  text-align: center;
  padding: 100px 20px;
}
.power p {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  color: var(--secondary-color);
}
.power h2 {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: var(--secondary-color);
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-align: center;
  margin: auto;
}
.btn-branding-outline {
  background: var(--branding-color);
  border-radius: 4px;
  border: 1 px solid var(--branding-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 20px;
}

.project-description {
  padding: 120 60px;
}
.content-container {
  padding: 40px 20px;
}
.content h1 {
  font-size: 60px;
  line-height: 68px;
}
.content h2 {
  font-size: 24px;
  font-family: var(--font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  font-size: 16px;
}

.content {
  margin: 30px;
}
.img-fluid {
  border-radius: 10px;
  max-width: 100%;
  background-color: var(--branding-color);
  height: 250px;
  width: 500px;
}
.logo {
  max-height: 60px;
}

nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  line-height: 40px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

nav li.active a,
nav a:hover {
  color: var(--branding-color);
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: var(--background-color);
  padding: 30px 120px;
}

footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 20px;
  color: var(--branding-color);
  background: rgb(246, 245, 245);
  font-size: 18px;
  border-radius: 50%;
  padding: 10px 14px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
    line-height: 1.5;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 18px;
  }
  .btn {
    font-size: 18px;
    padding: 10;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .logo {
    max-height: 30;
  }

  nav a {
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  nav li {
    display: grid;
  }
}
